@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #03052e;
    color: #E0E0E0;
}

.main_login {
    text-align: center;
    align-items: center;
    padding: 170px;
  }
  
input {
    border: 1px solid #a8a8aa;
    border-radius: 4px;
    padding: 10px 110px;
    text-align: left;
}

input::placeholder {
    color: #60616f;
    text-align: left;
    padding: 0px 0px;
  }

  button {

  color: #E0E0E0;
  display: inline-block;
  background-color: #1a7fc1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 380px;
  cursor: pointer;
    
}




