body{
    background-color: #03052e;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: large;
    color: aqua;
}

h1{
    text-align: center;
    color: gainsboro;
    font-size: xx-large;
    
}

h2{
    text-align: center;
    color: ghostwhite;
    font-size: xx-large;
    
}
.centro{
    background-color: #795f09;
    border-radius: 0%;
}

